@import url('https://fonts.googleapis.com/css2?family=Maiden+Orange&family=Major+Mono+Display&family=Rubik+Glitch+Pop&family=Rubik+Iso&family=Stick&display=swap');
h1 {
    font-family: "Rubik Glitch Pop", system-ui;
    font-weight: 900;
    font-style: normal;
    font-size:calc(5vw + 5vh);
    margin:0;
    padding:0;
    background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722); 
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: move 120s linear infinite;
    text-shadow:
        1.07em 0 black,

}

@keyframes move {
    to {
        background-position:4500vh;
    }
}

h3{
    color: white;
    text-shadow:
        0.15em 0 black,
        0 0.15em black,
        -0.15em 0 black,
        0 -0.15em black,
        -0.15em -0.15em black,
        -0.15em 0.15em black,
        0.15em -0.15em black,
        0.15em 0.15em black;
}
p{
    color: white;
    font-size: 100%;
    text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
    text-align: center;
    box-sizing: border-box;
    vertical-align: auto;
    height: auto;
    width: fit-content;
    flex-wrap: wrap;
    text-wrap: wrap;
    text-overflow: ellipsis;
}

body, html {
    margin: 0;
    padding: 0;
    border: 0;
    background: rgb(24,0,36);
    background: linear-gradient(180deg, rgba(24,0,36,1) 0%, rgba(121,9,113,1) 35%, rgba(113,0,0,1) 100%);
    height:auto;
    background-position:center;
    background-size: cover;
    display: inline-block;
    box-sizing: border-box;
    margin-bottom: 0;
    vertical-align: top;
    max-width: 100vw;
}
.rubik-glitch-pop-regular {
    font-family: "Rubik Glitch Pop", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  

.center{
    text-align:center;

}

.centimgs{
    display:inline-block;
    margin:2% 5%;
    padding:1%;
    width: 35%;
    height: 25%;
    max-width: 90vw;
}

.headerimgs{
    float:right;
}
h3{
    margin:0;
    padding:0;
}
.proj {
    display:inline-block
}

.mestuff {
    text-align:center;
}
.caption {
    color: white;
    text-shadow:
        0.15em 0 black,
        0 0.15em black,
        -0.15em 0 black,
        0 -0.15em black,
        -0.15em -0.15em black,
        -0.15em 0.15em black,
        0.15em -0.15em black,
        0.15em 0.15em black;
}

.floatimg {
    width:15%;
    height:35%;
    float: right;
    margin: 2%;
}
